/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 5rem;
}

body, html {
  height: 100%;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}


